@charset "utf-8";
/* CSS Document */
/* TRBL */

/* RED WIREFRAME BORDERS */
#main, {
	border:thin red solid;
}

/* LOGIN DIV */
#login {
	border:thin red solid;
}

/* BANNER DIV (HOMEPAGE) */
#banner {
	border:thin red solid;
}
	
/* HEADER DIV */
header {
	border:thin red solid;
}

/* SPLASH SCREEN */
#splashScreen {
	border:thin red solid;
}

/* SECTION DIV */
section {
	border:thin red solid;
	
}

/* ARTICLE DIV */
article {
	border:thin red solid;
	
}

/* WATERMARK DIV */
#watermark {
	border:thin red solid;
}

/* FOOTER MENU DIV */
footer {
	border:thin red solid;
}


/* Website created by Malcolm Malloy 2016 */